<%= render "shared/header" %>

<div class="main">
  <div>
    <%= form_with(url: store_search_stores_path, local: true, method: :get) do |f| %>
      <%= f.text_field :keyword, placeholder: "店舗名・地名" %>
      <%= f.submit "検索" %>
    <% end %>
  </div>

  <div>
    仮眠どころ一覧
    <div>
      <% @stores.each do |store| %>
        <div>
          <%= store.name %>
        </div>
        <div>
          <%= image_tag store.image.variant(resize: '200x200') %>
        </div>
        <div>
          <% store.tags.each do |tag| %>
            <%= tag.word %>
          <% end %>
        </div>
        <div>
          所在地：
          <%= store.adress %>
        </div>
        <div>
          最寄駅：
          <%= store.station %>
        </div>
        <div>
          ホームページ：
          <%= link_to "#{store.link}", store.link %>
        </div>
        <div>
          <%= link_to "詳細", store_path(store) %>
        </div>
      <%end%>
    </div>
  </div>
</div>