<h1><%= link_to "Kamindokoro", root_path %></h1>

<div>
  <h2><%= @store.name %></h2>
</div>

<% if customer_user_signed_in? %>
  <div>
    <% if !Bookmark.exists?(customer_user_id: current_customer_user.id, store_id: @store.id) %>
      <%= link_to store_bookmarks_path(@store), method: :post, local: true do %>
        <i class="far fa-bookmark"></i>
      <% end %>
    <% else %>
      <%= link_to store_bookmark_path(@store), method: :delete, local: true do %>
        <i class="fas fa-bookmark"></i>
      <% end %>
    <% end %>
  </div>
<% end %>

<div>
  <%= image_tag @store.image.variant(resize: '400x400') %>
</div>
<div>
  <% @store.tags.each do |tag| %>
    <ul>
      <li><%= tag.word %></li>
    </ul>
  <% end %>
</div>
<div>
  所在地：
  <%= @store.adress %>
</div>
<div>
  最寄駅：
  <%= @store.station %>
</div>
<div>
  料金（1Hあたり）：
  ¥ <%= @store.price %>
</div>
<div>
  営業時間：
  <%= @store.store_time %>
</div>
<div>
  ホームページ：
  <%= link_to "#{@store.link}", @store.link %>
</div>
<div>
  <%= @store.avg_score %>点（<%= @store.reviews.count %>件のレビュー）
</div>

<% if current_owner_user == @store.owner_user %>
  <div>
    <%= link_to "編集", edit_store_path(@store) %>
    <%= link_to "削除", store_path(@store), method: :delete %>
  </div>
<% end %>

<% if customer_user_signed_in? %>
  <h3><%= link_to "レビューを見る", store_reviews_path(@store) %></h3>
<% end %>

