<%= render 'shared/header' %>

<div class="store-show">
  <div class="store-show-top">
      <h3 class="store-show-name"><%= @store.name %></h3>
    <% if customer_user_signed_in? %>
      <div class="bookmark-icon">
        <% if !Bookmark.exists?(customer_user_id: current_customer_user.id, store_id: @store.id) %>
          <%= link_to store_bookmarks_path(@store), method: :post, local: true do %>
            <i class="far fa-bookmark icon"></i>
          <% end %>
        <% else %>
          <%= link_to store_bookmark_path(@store), method: :delete, local: true do %>
            <i class="fas fa-bookmark icon"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="store-show-content">
    <div class="store-show-card">
      <div class="store-show-img-content">
        <%= image_tag @store.image.variant(resize: '500x500'), class:"store-show-img" %>
      </div>
        <ul class="store-tags list-inline">
          <% @store.tags.each do |tag| %>
            <li class="tag list-inline-item"><%= link_to tag.word, tag_tag_search_path(tag), class: "tag-word" %></li>
          <% end %>
        </ul>
      <div class="show-review">
        <div class="star-rating">
          <div class="star-rating-front" style="width: <%= @store.review_score_percentage %>%">★★★★★</div>
          <div class="star-rating-back">★★★★★</div>
        </div>
        <div class="review-link">
          <%= link_to store_reviews_path(@store) do %>
            <%= @store.avg_score %>点（<%= @store.reviews.count %>件）
          <% end %>
        </div>
      </div>
      
      <div class="store-infos">
        <h5 class="store-infos-text">店舗情報</h5>

        <div class="store-info">
          <div class="store-info-title">
            所在地
          </div>
          <div class="store-info-content">
            <%= @store.address %>
          </div>
        </div>
        <div class="store-info">
          <div class="store-info-title">
            最寄駅
          </div>
          <div class="store-info-content">
            <%= @store.station %>
          </div>
        </div>
        <div class="store-info">
          <div class="store-info-title">
            料金（1Hあたり）
          </div>
          <div class="store-info-content">
            ¥ <%= @store.price %>
          </div>
        </div>
        <div class="store-info">
          <div class="store-info-title">
            営業時間
          </div>
          <div class="store-info-content">
            <%= @store.store_time %>
          </div>
        </div>
        <div class="store-info">
          <div class="store-info-title">
            ホームページ
          </div>
          <div class="store-info-content">
            <%= link_to "#{@store.link}", @store.link %>
          </div>
        </div>
      </div>

      <% if current_owner_user == @store.owner_user %>
        <ul class="owner-menu list-inline">
          <li class="edit-btn list-inline-item"><%= link_to "編集", edit_store_path(@store), class: "edit-link" %></li>
          <li class="delete-btn list-inline-item "><%= link_to "削除", store_path(@store), method: :delete, class: "delete-link" %></li>
        </ul>
      <% end %>
    </div>
  </div>

  <div id="map" class="map">
  </div>
</div>

<script>
  function initMap() {
    var location ={lat: <%= @store.latitude %>, lng: <%= @store.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15, 
      center: location,
      mapTypeControl: false,
      streetViewControl: false
      });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @store.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    var marker = new google.maps.Marker({
      position: location,
      map: map,
      title: contentString
    });

    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['MAP_ACCESS_KEY'] %>&callback=initMap">
</script>

<%= render 'shared/footer' %>