<%= render "shared/header" %>

<div class="main">

  <%= render "shared/top_search_form" %>

  <div class="tag-index">
    <% @tags.each do |tag|  %>
      <%= link_to tag.word, tag_tag_search_path(tag) %>
    <% end %>
  </div>

  <div class="top-page-main">
    <div class="container">
      <div class="stores-title pt-4 ">
        <h5 class="text-center"><span class="title">「<%= @tag.word %>」の検索結果</span></h5>
      </div>
      
      <%= render partial: "shared/store_list", locals: { stores: @stores } %>

    <div>
  </div>
</div>

<%= render "shared/footer" %>