<%= render 'shared/header' %>

<div class="customer">
  <div class="profile">
    <div class="profile-img-area">
      <img src="/assets/profile-default.png" width="100px", height="100px" class="profile-img" >
    </div>
    <div class="customer-name">
      <h3><%= @name %></h3>
    </div>
  </div>
  <div class="bookmarks-title">
    <h5 class="title text-center">ブックマーク一覧</h5>
  </div>

  <div class="container">
    <div class="stores my-5 row">
      <% @bookmarks.each do |bookmark| %>
        <div class="store col-xl-4 col-md-6 col-12 ">
          <div class="store-card">
            <div class="store-img">
              <%= link_to store_path(bookmark.store) do %>
                <%= image_tag bookmark.store.image.variant(resize: '340x220'), class:"img-responsive" %>
              <% end %>
            </div>
            <div class="store-content p-3">
              <div class="store-name">
                <%= bookmark.store.name %>
              </div>
              <ul class="store-tags list-inline">
              <% bookmark.store.tags.each do |tag| %>
                <li class="tag list-inline-item"><%= link_to tag.word, tag_tag_search_path(tag), class: "tag-word" %></li>
              <% end %>
              </ul>
              <div class="star-rating">
                <div class="star-rating-front" style="width: <%= bookmark.store.review_score_percentage %>%">★★★★★</div>
                <div class="star-rating-back">★★★★★</div>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    </div>
    
  </div>
</div>

<%= render 'shared/footer'  %>