<%= render "shared/header"  %>

<%= form_with model: @customer_user, url: customer_user_session_path, class: "registration-main", local: true do |f| %>
  
  <div class="form-wrap">
    <div class="form-header">
      <h4 class="form-header-text">ログイン</h4>
    </div>

    <%= render "customer_users/shared/error_messages", model: f.object %>

    <div class="form-group">
      <div class="form-text-wrap">
        <label class="form-text">メールアドレス</label>
      </div>
      <%= f.email_field :email, id: "email", class: "input-default" %>
    </div>

    <div class="form-group">
      <div class="form-text-wrap">
        <label class="form-text">パスワード</label>
      </div>
      <%= f.password_field :password, id: "password", class: "input-default" %>
    </div>

    <div class="register-btn">
      <%= f.submit "ログイン", class: "register-btn-item" %>
    </div>
  </div>
<% end %>

<%= render "shared/footer"  %>


